<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.motherbirds.web.dao.MemberDao" >
    
	<insert id="add" parameterType="com.motherbirds.web.entity.Member">

		INSERT INTO `motherbird`.`Member1`
		(
		`id`,
		`pwd`,
		`regDate`
		)
		VALUES
		(
		#{param1},
		#{param2},
		now()
		)
	
	</insert>
	
	<insert id="addRole" parameterType="com.motherbirds.web.entity.Member">

		INSERT INTO `motherbird`.`MemberRole`
		(
		`memberId`,
		`roleId`,
		`defaultRole`
		)
		VALUES
		(
		#{param1},
		#{param2},
		true
		);

	
	</insert>
	
	<select id="isExistId" parameterType="com.motherbirds.web.entity.Member" resultType="Integer" >
	    SELECT count(*) FROM `motherbird`.Member1 where id = #{param1};
	</select>
	
</mapper>